.site{
	margin: 0 auto;
	width: $size-site-width;
}
.content-area {
	float: none;
	margin: 0;
	width: 100%;
}

.site-header {
	background: $color-secondary;
	color: $color-white;
	padding: 0 $padding-most;

	a {
		&:link,
		&:visited {
			color: $color-white;
			text-decoration: none;
		}

		&:hover,
		&:focus {
			color: $color-light-grey;
		}
	}

	.site-branding {
		display: inline-block;
		float: left;
	}

	nav.main-navigation {
		display: block;
		float: right;
		max-width: 50%;

		li {
			list-style-type: none;
		}
	}
}

.contain {
	margin: 0 auto;
	max-width: $size-max-width;
}

.site-main {
	margin: 0;
}

.site-content .widget-area {
	float: none;
	overflow: hidden;
	width: 100%;
}

.site-footer {
	clear: both;
	padding: $padding-more $padding-most 0;
	width: $size-site-main;
}
