$color-primary: #111;
$color-secondary: #226666;
$color-white: #fff;
$color-light-grey: #f4f4f4;
$color-mid-grey: #ccc;
$color-dark-grey: #666;
$color-light-black: #444;
$color-black: #222;

$color-background-body: $color-white;
$color-background-hr: $color-light-grey;
$color-background-pre: $color-light-grey;
$color-background-ins: $color-light-grey;
$color-background-screen: $color-light-grey;

$color-text-input: $color-light-black;
$color-text-input-focus: $color-black;
$color-text-screen: $color-primary;

$color-background-button: $color-white;
$color-background-button-hover: $color-light-grey;
$color-background-button-focus: $color-mid-grey;

$color-link: $color-light-black;
$color-link-visited: $color-light-black;
$color-link-hover: $color-primary;
$color-text-main: $color-dark-grey;
$color-text-headings: $color-dark-grey;

$color-border-abbr: $color-light-black;
$color-border-button: $color-mid-grey;
$color-border-button-hover: $color-light-black;
$color-border-button-focus: $color-light-black;
$color-border-input: $color-mid-grey;
$color-border-input-focus: $color-light-black;
